.brand-name{
    font-family:'Inter' ;
}
::selection {
  background: rgba(255, 255, 255, 0.18); /* soft grey highlight */
  color: #ffffff; /* keep text white */
}

.navigae-but{
    font-family:'Inter' ;
}