*{
  font-family:'Inter' ;
}
.dotted-border-glass {
  position: relative;
  padding: 10px 18px;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
}
.dotted-border-glass::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px; /* border thickness */

  background: repeating-linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.35) 0 12px,
    transparent 12px 22px
  );

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}